extends layout

block content
  body
    include header
    main
      div.container
        table.bordered.highlight
          thead
            tr.teal-text
              th(data-field='id') #
              th(data-field='name') Name
              th(data-field='op') Operations
          tbody
            each a in articles
              tr
                td #{a.article_id}
                td
                  a.pink-text(href='/api/admin/articles/' + a.article_id) #{a.article_title}
                td.left-border
                  a.removeBtn.edit#delete(data-target='update_info')
                    span.fa.fa-trash.fa-lg
        div.modal#update_info
          div.modal-content
            p 确定要删除吗
            div.modal-footer
              a.btn.waves-effect.waves-light#update Submit
              a.modal-action.modal-close.waves-effect.waves-green.btn-flat Close
