block body
  head
    title #{title}
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="HandheldFriendly",content="True")
    meta(name="MobileOptimized",content="320")
    meta(name="apple-mobile-web-app-capable",content="yes")
    meta(name="apple-mobile-web-app-status-bar-style",content="black-translucent")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(property="og:site_name",content="程序车的炸鸡")
    meta(property="og:type",content="website")
    meta(property="og:title",content="程序车的炸鸡")
    meta(property="og:description",content="Thoughts, stories and ideas.")
    meta(property="og:url",content="http://poche.fm/")
    meta(property="og:image",content="/images/background-cover-2.jpg")
    link(rel="icon",type="image/png",href="/images/favicon.png")
    link(href="/assets/images/favicon.png",rel="shortcut icon",type="image/png")
    link(href="/apple-touch-icon-precomposed.png",rel="apple-touch-icon")
    link(href='https://fonts.googleapis.com/css?family=Raleway:400,600%7CRoboto+Slab:300,400',rel='stylesheet',type='text/css')
    link(rel="stylesheet",type="text/css",href="/stylesheets/main.css")
    link(rel="stylesheet", type='text/css', href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src="/javascripts/jquery-3.1.1.min.js",type="text/javascript",charset="utf-8")
  body.home-template.pace-done
    header#menu-button.expanded
      a
        i.fa.fa-align-justify
    aside.cover(style="background: url(/images/background-cover-2.jpg) center/cover no-repeat fixed")
      div.cover.container
        div.profile
          a#avatar-link(title="link to homepage for 破音万里" href="/#open")
            img.profile.avatar.rounded.hvr-buzz-out(src="images/4621638.jpeg" alt="破音万里")
            h1#profile-title 破音万里
            h3#profile-resume
          hr.divider.long
          p Thoughts, stories and ideas
          hr.divider.short
          div.navigation
            div.profile.contact
              nav.navigation.left
                ul.links
                  li.nav-posts.nav-current.expanded
                    a(href="/#open") Posts
              include social
          //- {{> search }}
    script(src="/javascripts/uno-zen.common.js",type="text/javascript",charset="utf-8")
    script(src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.min.js",type="text/javascript",charset="utf-8")
  
