header
  div.container.col
    a.button-collapse.top-nav.full.hide-on-large-only(data-activates='nav-mobile')
      i.material-icons menu
  ul.side-nav.fixed#nav-mobile
    li
      div.user-view
        div.background
          img(src="/images/office.jpg")
        img.circle(src="/images/4621638.jpeg")
        h5.white-text Purchas Collection
        span.email.white-text Thank You For Listening
    li
      a(href="https://weibo.com/zhaopengcheng") 新浪微博
        i.social.fa.fa-weibo.fa-2x 
    li
      a(href="https://github.com/lastshrek") Github
        i.social.fa.fa-github.fa-2x
    li
      a(href="https://twitter.com/lastshrek") Twitter
        i.social.fa.fa-twitter.fa-2x
    li
      a(href="https://www.panda.tv/1332622") 熊猫直播间
        i.social.fa.fa-gamepad.fa-2x
    li
      a(href="mailto:me@poche.fm") 个人邮箱
        i.social.fa.fa-envelope.fa-2x
