extends layout

block content
  body
    script(src='/javascripts/mdhtmlform.js')
    script(src='/javascripts/showdown.js')
    script(src='/javascripts/common.js')
    include header
    main
      .container
        if article
          include article
        else
          include article_info

      //- if article
      //-   include article
      //- else
      //-   include article_info
