extends layout

block content
  body
    script(src='/javascripts/mdhtmlform.js')
    script(src='/javascripts/showdown.js')
    include header
    main
      .container
        include playlist_info
