extends layout

block content
	.container
		form#listForm.form-horizontal(method='post', action='/article/new', enctype='multipart/form-data')
			h1.text-center #{title}
			hr
			form.form-group.col-sm-4
				input#title(name='title', class='form-control', placeholder='歌单名称')
				input#type(name='type', class='form-control', placeholder='歌单类型')
				input#content(name='content', class='form-control', placeholder='文章内容')
				input#prefixUrl(name='prefixUrl', class='form-control', placeholder='地址前缀')
				input#songCount(name='songCount', class='form-control', placeholder='歌曲数量')
				
				input.bottom-margin.col-sm-4.col-sm-offset-4.btn.btn-info(type='submit', value='创建')
