main
  section.content
    style main,main>.content,#posts-list{padding:0;margin:0;}
    h1#posts-headline Writings
    ol#posts-list
      li.post-item
        a.post-link(style="background-image:url('http://lastshrek.b0.upaiyun.com/collections/2014/cover.png');",href="/what-uri-is/",title="Read more about 'What URI is'")
          div.dimmer-mark
          h1.post-title 破车推荐2015-2016精选
          time.post-time(datetime="15 Oct 2016")
        div.post-tags
          a(href="/tag/computer-science/") 破车推荐2016
      li.post-item
        a.post-link(style="background-image:url('http://lastshrek.b0.upaiyun.com/collections/2014/cover.png');",href="/what-uri-is/",title="Read more about 'What URI is'")
          div.dimmer-mark
          h1.post-title 破车推荐2015-2016精选
          time.post-time(datetime="15 Oct 2016")
        div.post-tags
          a(href="/tag/computer-science/") 破车推荐2016
      li.post-item
        a.post-link(style="background-image:url('http://lastshrek.b0.upaiyun.com/collections/2014/cover.png');",href="/what-uri-is/",title="Read more about 'What URI is'")
          div.dimmer-mark
          h1.post-title 破车推荐2015-2016精选
          time.post-time(datetime="15 Oct 2016")
        div.post-tags
          a(href="/tag/computer-science/") 破车推荐2016
      li.post-item
        a.post-link(style="background-image:url('http://lastshrek.b0.upaiyun.com/collections/2014/cover.png');",href="/what-uri-is/",title="Read more about 'What URI is'")
          div.dimmer-mark
          h1.post-title 破车推荐2015-2016精选
          time.post-time(datetime="15 Oct 2016")
        div.post-tags
          a(href="/tag/computer-science/") 破车推荐2016
