header.panel-cover(style='background-image: url(/images/background-cover-2.jpg)')
  div.panel-main
    div.panel-main__inner.panel-inverted
      div.panel-main__content
        a(href='/#blog',title="前往破车推荐的主页")
          img.panel-cover__logo.logo.jump_show_post(src='images/4621638.jpeg',width="80",alt="程序车的炸鸡 logo")
        h1.panel-cover__title.panel-title.jump_show_post
          a(href='/#blog',title='前往 程序车的炸鸡 的主页') 程序车的炸鸡
        span.panel-cover__subtitle.panel-subtitle 感谢支持破车推荐
        hr.panel-cover__divider
        p.panel-cover__description Thoughts, stories and ideas
        hr.class.panel-cover__divider.panel-cover__divider--secondary
        div.navigation-wrapper
          div
            nav.cover-navigation.cover-navigation--primary
              ul.navigation
                li.navigation__item
                  a.blog-button(href="/#blog",title="访问博客") 博客
          div
           include social
