nav.cover-navigation.navigation--social
  ul.navigation
  
    <!-- Weibo -->
    li.navigation__item
      a(href="http://weibo.com/zhaopengcheng",title="@破车推荐 的微博",target="_blank")
        i.social.fa.fa-weibo
        span.label Weibo

    <!-- Github -->
    li.navigation__item
      a(href="https://github.com/lastshrek" title="@Purchas 的 Github",target="_blank")
        i.social.fa.fa-github
        span.label Github

    <!-- Twitter -->
    li.navigation__item
      a(href="https://twitter.com/lastshrek",title="@lastshrek",target="_blank")
        i.social.fa.fa-twitter
        span.label Twitter

    <!-- Email -->
    li.navigation__item
      a(href="mailto:me@poche.fm" title="邮件联系我")
        i.social.fa.fa-envelope
        span.label Email
