nav.navigation.right
  ul.social.expanded
    <!-- Weibo -->
    li.social.item.hvr-grow-rotate
      a(href="http://weibo.com/zhaopengcheng",title="@破车推荐 的微博",target="_blank",rel="me")
        i.social.fa.fa-weibo.fa-2x
        span.label Weibo

    <!-- Github -->
    li.social.item.hvr-grow-rotate
      a(href="https://github.com/lastshrek" title="@Purchas 的 Github",target="_blank",rel="me")
        i.social.fa.fa-github.fa-2x
        span.label Github

    <!-- Twitter -->
    li.social.item.hvr-grow-rotate
      a(href="https://twitter.com/lastshrek",title="@lastshrek",target="_blank",rel="me")
        i.social.fa.fa-twitter.fa-2x
        span.label Twitter

    <!-- Email -->
    li.social.item.hvr-grow-rotate
      a(href="mailto:me@poche.fm" title="邮件联系我",rel="me")
        i.social.fa.fa-envelope.fa-2x
        span.label Email


//- <nav class="navigation right">
//-   <ul class="social expanded">
//- 
//-   <!-- Twitter -->
//-   <li class="social item hvr-grow-rotate">
//-     <a rel="me" target="blank" href="https://twitter.com/kikobeats" title="@Kikobeats on Twitter">
//-       <i class='icon icon-social-twitter'></i>
//-       <span class="label">Twitter</span>
//-     </a>
//-   </li>
//- 
//-   <!-- Linkedin -->
//-   <li class="social item hvr-grow-rotate">
//-     <a rel="me" target="blank" href="https://linkedin.com/in/kikobeats" title="Kikobeats on LinkedIn">
//-       <i class='icon icon-social-linkedin'></i>
//-       <span class="label">Linkedin</span>
//-     </a>
//-   </li>
//- 
//-   <!-- Github -->
//-   <li class="social item hvr-grow-rotate">
//-     <a rel="me" target="blank" href="https://github.com/Kikobeats" title="Kikobeats on Github">
//-       <i class='icon icon-social-github'></i>
//-       <span class="label">Github</span>
//-     </a>
//-   </li>
//- 
//-   <!-- RSS -->
//-   <li class="social item hvr-grow-rotate">
//-     <a href="/rss/" title="Subscribe to RSS">
//-       <i class='icon icon-rss'></i>
//-       <span class="label">RSS</span>
//-     </a>
//-   </li>
