.top-margin {
  margin-top: 30px;
}

.bottom-margin {
  margin-bottom: 30px;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.right-border {
  border-right: 1px solid #ddd;
  width: 100px;
}
.left-border {
  border-left: 1px solid #ddd;
  width: 100px;
}

.edit {
  padding-right: 10px;
  background-color: rgba(0, 0, 0, 0);
  height: 25px;
}

h1 {
  color: #00b3ee !important;
}

button {
  border: 0px;
}

.edit-btn {
  width: 90px;
}

.modal-body {
  margin-bottom: 30px;
}

input {
  margin-top: 10px !important;
}

input#content {
  height: 330px;
}

.sel {
  position: absolute;
  top: 320px;
  left: 0px;
  width: 100%;
}

a {
  cursor:pointer;
}

.file {
  width: 10%;
}
#fileToUpload {
    position: absolute;
    font-size:50px;
    opacity: 0;
    width: 100%;
    top: 0px;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}
.upload {
  position: relative;
  border-style: dashed;
  border-color: #E1E1E1;
  border-width: 2px;
  height: auto;
  min-height: 600px;
  text-align: center;
}
